/* App.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Bakgrundsfärg för hela sidan */
}

/* Navbar styles */
.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
